/*top bar*/
body{
  font-family: 'Bebas Neue', cursive;
  color: #131212;
  
}

p { color: #131212; font-family: 'Helvetica Neue', sans-serif; font-size: 14px; line-height: 24px; margin: 0 0 24px}


.top-bar{
    height: 1.6rem;
    background-color: #0F8E97;
    color: white;
    text-decoration: none;
}

.top-bar a{
    color: white;
    letter-spacing: 1px;
}

/*nav bar*/
.navbar{
    font-size: 1.15rem;
    font-weight: 600;
    letter-spacing: .1rem;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    z-index: 1;
  }
  .nav-item{
    padding: .5rem;
  }
  
  .nav-link {
    color: #5b5555!important;
  }
  
  .nav-link.active, .nav-link:hover{
    color: #0F8E97!important;
  }

  .navbar-brand img{
      height: 4rem;
  }

  .carousel-item {
    height: 620px;
  }
  
  .carousel-item img {
      position: absolute;
      object-fit:cover;
      top: 0;
      left: 0;
      min-height: 600px;
  }

  .carousel-caption{
    color: rgb(248, 248, 248);
    text-shadow: 2px 2px #272626;
    font-weight: bold;
    width: 30rem;
    margin: auto;
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
  }
  

  .btn-info{
      width: 10rem;
      align-content: center;
      letter-spacing: 2px;
  }

  .form-control{
      margin-top: 1rem;
      margin-bottom: 1rem;
  }

  .contact-text{
    font-size: 1.1rem;
    font-weight: bold;
    color: #5b5555;
  }

  .service-section{
    background-color: #f1f1f1;
  }

  .service-icons{
    color: #0F8E97;
    font-size: 3rem;
    text-align: center;
  }

  .stacked-img{
    width: 100%;
    padding: 5px;
  }

  .left-img{
    width: 100%;
    height: 476px;
    padding: 5px;
  }

  .icons{
    font-size: 2.5rem;
    color: #0F8E97;
  }

  footer ul{
    text-decoration: none;
  }

  footer a{
    color: #0F8E97;
  }

  footer h5{
    color: white;
    text-shadow: 2px 2px #5b5555;
  }

  margin-img{
    margin: 75% 0;
    height: 90vh;
  }

  .parallax{
    background: url("./drone-photos/zihuabeach3.png") repeat fixed 100%;
  }

  .parallax-inner{
    padding-top: 25%;
    padding-bottom: 25%;
  }

  .fix-caption{
    text-align: center;
    font-size: 3rem;
    letter-spacing: 3px;
    color: #fff;
    text-shadow: 3px 3px #5b5555;
  }

  .video-text{
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
    padding-left: ;
    letter-spacing: 1px;
  }

  /*serivices page*/

  .jumbotron-top{
    background-image: url('./drone-photos/lasaladita5-wider-hd.png');
    height: 80vh;
    background-size: cover;
    background-position: center;
    color: #ffff;
    border-radius: 0px!important;
  }

  .jumbotron-top h1{
    margin: 5px;
    font-size: 30px;
    line-height: 1.5;
    text-shadow: 3px 3px #5b5555;
  }

  .jumbotron-top p{
    color: white;
    text-shadow: 2px 2px #5b5555;
    font-family: 'Bebas Neue', cursive;
  }

  .jumbotron-top img{
    height: 14rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.39);  
  }

  .col-img img{
    height: 420px;
    width: 100%;
  }
